* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  background-color: #dedede;
  width: 80vw;
  height: 55vh;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
}

.box {
  width: 45%;
  padding: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  color: #fff;
}

.box:nth-child(1) {
  background-color: #a02121;
}

.box:nth-child(2) {
  background-color: #187c63;
}

.box:nth-child(3) {
  background-color: #147414;
}

.box:nth-child(4) {
  background-color: #92730d;
}
